:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --nav-link-color: #000000;
  --footer-background-color: #2f303a;
  --btn-hover-color: #188ce8;
  --adress-link-color: rgba(255, 255, 255, 0.6);
  --aboutus-background-color: #f5f4fa;
  --alt-background-color: #c4c4c4;
  --overlay-hero-bg-color: rgba(47, 48, 58, 0.4);
  --main-icon-color: #afb1b8;
  --header-border: #ececec;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --overlay-whatwedo-bg: rgba(47, 48, 58, 0.8);
  --footer-link-bg: rgba(255, 255, 255, 0.1);
  --modal-btn-shadow: rgba(0, 0, 0, 0.25);
  --border-example: #eeeeee;
  --overlay-prtf-bg: rgba(33, 150, 243, 0.9);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --border-close-btn: rgba(0, 0, 0, 0.1);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.current {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) {
  .section {
    width: 100wv;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu__container {
    position: relative;
    padding: 40px 0;
    padding-left: 24px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #ffffff;
  }
  .mobile-menu__close-btn_icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu__nav-item {
    padding-bottom: 32px;
  }
  .mobile-menu__nav-item:hover,
  .mobile-menu__nav-item:focus,
  .mobile-menu__nav-link:hover,
  .mobile-menu__nav-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus,
  .mobile-menu__close-btn_icon:hover,
  .mobile-menu__close-btn_icon:focus {
    fill: var(--accent-color);
  }
  .mabile-container_contact {
    padding-top: 302px;
  }
  .mobile-container_contact_item-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-container_contact_item-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-container_contact_social .mobile-container_contact_social-item {
    display: inline;
  }
  .mobile-container_contact_social
.mobile-container_contact_social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;
  }
  .mobile-container_contact_social-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-container_contact_social {
    text-align: center;
    padding-top: 64px;
  }
  .mobile-container_contact_social-item {
    margin-right: 20px;
  }
  .is-open {
    position: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.hero__container_title_modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__container_title_modal-btn:hover, .hero__container_title_modal-btn:focus {
  background: var(--btn-hover-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link_icon {
  fill: var(--main-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__link_icon,
.social-list__link:focus .social-list__link_icon {
  fill: var(--main-background-color);
}

.social-list__link_icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) {
  .social-list {
    justify-content: center;
  }
  .social-list__item {
    margin-right: 10px;
  }
}

.about__title {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .about__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
  }
}

@media screen and (min-widht: 1200px) {
  .about__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.services__menu_item_title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.masterd__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.about-portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.logo-left {
  color: var(--accent-color);
}

.header-nav__logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--nav-link-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--border-close-btn);
  cursor: pointer;
  padding: 0;
  display: inline-block;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
}

.modal-contact-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 28px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-contact-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-contact-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-125%);
  fill: var(--main-text-color);
}

.modal-contact-input:focus + .modal-contact-icon {
  fill: var(--accent-color);
}

.modal-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.modal-submit-btn:hover, .modal-submit-btn:focus {
  background: var(--btn-hover-color);
}

.modal-contact-comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contact-comment:focus {
  border-color: var(--accent-color);
}

.close-btn-icon {
  height: 18px;
  width: 18px;
  fill: var(--nav-link-color);
  vertical-align: middle;
}

.close-btn-icon:hover, .close-btn-icon:focus {
  fill: var(--accent-color);
}

.label-name {
  position: absolute;
  transform: translateY(-18px);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-checkbox {
  appearance: none;
}

.icon-check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: 13px;
  background-image: url("../images/icon-check-off.svg");
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.contract-link {
  color: var(--accent-color);
}

.modal-checkbox:checked + .icon-check {
  background-image: url("../images/icon-check-on.svg");
}

@media screen and (max-width: 767px) {
  .mail,
  .tel {
    display: none;
  }
  .header-nav__menu {
    display: none;
  }
  .header-container__contact {
    display: none;
  }
  .header {
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__burger-icon {
    width: 40px;
    height: 40px;
  }
  .header__mobile-btn {
    padding: 0;
    background-color: none;
    border: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mail-icon {
    height: 12px;
    width: 16px;
    margin-right: 10px;
  }
  .tel-icon {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }
  .header-nav__menu {
    display: none;
  }
}

.mail-icon {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.tel-icon {
  height: 16px;
  width: 10px;
  margin-right: 10px;
}

.mail,
.tel {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin-top: 79px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--header-border);
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-container__contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header-container__contact_item {
    margin-left: auto;
    margin-right: 50px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav__menu {
    display: flex;
    align-items: center;
  }
  .header-nav__logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--nav-link-color);
  }
  .header-nav__menu_item:not(:last-child) {
    margin-right: 50px;
  }
  .header-nav__menu_item_link, .header-conteiner__contact_item_link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav__menu_item_link:hover, .header-nav__menu_item_link:focus, .header-conteiner__contact_item_link:hover, .header-conteiner__contact_item_link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-btn {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header-conteiner__contact_item_link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    line-height: calc(14 / 12);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
  }
  .header-container__contact {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 84px;
  }
  .mail-icon {
    height: 10px;
    width: 14px;
    margin-right: 10px;
  }
  .tel-icon {
    height: 14px;
    width: 10px;
    margin-right: 10px;
  }
  .header-conteiner__contact_item_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    display: flex;
  }
  .tel {
    position: relative;
    right: 15px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--alt-background-color);
  background-image: linear-gradient(var(--overlay-hero-bg-color), var(--overlay-hero-bg-color)), url(../images/baner.jpg);
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__container_title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-icon {
  fill: var(--main-background-color);
}

.footer-logo_link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-background-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-link {
  background-color: var(--footer-link-bg);
  margin-right: 10px;
}

.footer-social__title,
.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container__adress {
  margin-right: 70px;
}

.footer-social-container {
  margin-right: 93px;
}

.footer-form {
  display: flex;
}

.footer-form__title {
  margin-bottom: 20px;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background: var(--btn-hover-color);
}

.footer-form__icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: var(--main-background-color);
}

.email-form {
  height: 50px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  color: var(--main-background-color);
  padding-left: 16px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form:focus {
  border-color: var(--accent-color);
  outline: none;
}

.hero-portfolio__menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.hero-portfolio__menu_item {
  margin-right: 8px;
}

.hero-portfolio__menu_item_btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);
  background-color: var(--aboutus-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  box-sizing: border-box;
  border: 1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-portfolio__menu_item_btn:hover, .hero-portfolio__menu_item_btn:focus {
  background: var(--accent-color);
  color: var(--main-background-color);
  filter: drop-shadow(0px 4px 4px var(--modal-btn-shadow));
}

.masters {
  background-color: var(--aboutus-background-color);
}

.masters__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.masters__menu_item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.masters__menu_div {
  padding: 30px;
}

.masters__menu_description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .masters-img {
    text-align: center;
    width: 450px;
    height: 460px;
  }
  .masters__menu {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .masters-img {
    text-align: center;
    width: 354px;
    height: 374px;
  }
  .masters__menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .masters-img {
    text-align: center;
    width: 270px;
    height: 260px;
  }
  .masters__menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.customers__list {
  display: flex;
}

.customers__list_item:not(:last-child) {
  margin-right: 30px;
}

.customers__list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid var(--main-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__list_link:hover, .customers__list_link:focus {
  border: 1px solid var(--accent-color);
}

.customers__list_link_icon {
  fill: var(--main-icon-color);
}

.customers__list_link:hover .customers__list_link_icon,
.customers__list_link:focus .customers__list_link_icon {
  fill: var(--accent-color);
}

.about__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__menu_item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.label-about {
  position: relative;
}

.overlay-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color: var(--overlay-whatwedo-bg);
}

.services {
  padding-bottom: 0;
}

.services__menu {
  display: flex;
}

.services__menu_item {
  width: 270px;
}

.services__menu_item:not(:first-child) {
  margin-left: 30px;
}

.services__menu_item_preimage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--aboutus-background-color);
  margin-bottom: 30px;
}

.services__menu_item_description {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.services-icon {
  width: 70px;
}

.border-portfolio {
  padding: 24px 20px;
  border: 1px solid var(--border-example);
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--main-background-color);
  background-color: var(--overlay-prtf-bg);
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-portfolio_item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.about-portfolio__menu_link_div {
  position: relative;
  overflow: hidden;
}

.about-portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.about-portfolio__menu_item_link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-portfolio__menu_item_link:focus, .about-portfolio__menu_item_link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-portfolio__menu_item_link:focus .overlay,
.about-portfolio__menu_item_link:hover .overlay {
  transform: translateY(0);
}

.adress__menu {
  display: block;
}

.adress__menu_item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__menu_item_span {
  font-style: normal;
  line-height: 1.71;
  color: var(--main-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__menu_item_link {
  font-style: normal;
  line-height: 1.71;
  color: var(--adress-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__menu_item_span:hover, .adress__menu_item_span:focus, .adress__menu_item_link:hover, .adress__menu_item_link:focus {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */