.about {
  padding-top: 0;
  @media screen and(max-width: 1199px) {
    display: none;
  }
}

.about__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &_item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.label-about {
  position: relative;
}
.overlay-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color: var(--overlay-whatwedo-bg);
}
