.footer {
  background-color: #2f303a;
  & .footer-logo_link {
    display: inline-block;
    text-decoration: none;
  }
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
  }
}

.adress__menu_item_span {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
}
.adress__menu_item_link {
  margin-bottom: 9px;
}
.adress__menu_item_link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-container__adress {
  text-align: center;
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: 308px;
    padding-left: 76px;
  }
  @media screen and(min-width: 1200px) {
    text-align: start;
  }
}
.footer-social-container {
  margin-top: 60px;
  margin-left: 0;
  padding-top: 0;
  text-align: center;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 768px) {
    margin-left: 165px;
    margin-top: 0;
    flex-direction: row;
    align-items: flex-start;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 12px;
    margin-left: 70px;
    text-align: start;
  }

  & .footer-social__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.footer-form-container {
  padding-top: 12px;
  margin-left: auto;
  margin-top: 60px;
  width: 100%;

  padding: 0;
  flex-direction: column;
  text-align: center;

  @media screen and(min-width: 767px) and(max-width: 1199px) {
    margin-right: auto;
    flex-direction: row;
  }
  @media screen and(min-width: 1200px) {
    width: auto;
    margin-top: 0;
    flex-direction: row;
    text-align: start;
  }
}
.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and(min-width: 1200px) {
    align-items: start;
    flex-direction: row;
  }
}
.footer-form__title {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.email-form {
  margin-top: 20px;
  padding-left: 16px;
  width: 98%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  @media screen and(max-width:768px) {
    width: 450px;
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 358px;
  }
}
.footer-form__btn {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;

  color: #ffffff;

  margin-left: 12px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
.footer-logo_link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-background-color);
}
.footer-logo {
  margin-bottom: 20px;
}

// .footer {
//   background-color: var(--footer-background-color);
//   padding-top: 60px;
//   padding-bottom: 60px;
//   &-icon {
//     fill: var(--main-background-color);
//   }
//   &-logo_link {
//     font-family: var(--secondary-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     color: var(--main-background-color);
//   }
//   &-logo {
//     margin-bottom: 20px;
//   }
//   &-link {
//     background-color: var(--footer-link-bg);
//     margin-right: 10px;
//   }
// }
// .footer-social__title,
// .footer-form__title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   text-transform: uppercase;
//   color: var(--main-background-color);
//   margin-bottom: 20px;
// }
// .footer-container {
//   display: flex;
//   align-items: baseline;

//   &__adress {
//     margin-right: 70px;
//   }
// }

// .footer-social-container {
//   margin-right: 93px;
// }

// .footer-form {
//   display: flex;
//   &__title {
//     margin-bottom: 20px;
//   }
//   &__btn {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 50px;
//     min-width: 200px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
//     color: var(--main-background-color);
//     background: var(--accent-color);
//     cursor: pointer;
//     box-shadow: 0px 4px 4px var(--button-shadow);
//     border-radius: 4px;
//     border: none;
//     transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &__btn:hover,
//   &__btn:focus {
//     background: var(--btn-hover-color);
//   }
//   &__icon {
//     height: 24px;
//     width: 24px;
//     margin-left: 10px;
//     fill: var(--main-background-color);
//   }
// }
// .email-form {
//   height: 50px;
//   width: 358px;
//   font-size: 16px;
//   line-height: 1.25;
//   background-color: inherit;
//   color: var(--main-background-color);
//   padding-left: 16px;
//   display: flex;
//   align-items: center;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   margin-right: 12px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus {
//     border-color: var(--accent-color);
//     outline: none;
//   }
// }
