.masters {
  background-color: #f5f4fa;
  & .about__title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and(min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 30px;
    }
  }
}
.masters__menu_item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  & .masterd__title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  & .masters__menu_description {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.masters__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  & .masters__menu_item {
    flex-basis: calc(100% - 30px);
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 30px;
    text-align: center;

    @media screen and(min-width: 768px) {
      flex-basis: calc((100% - 30px * 2) / 2);
    }
    @media screen and(min-width: 1200px) {
      flex-basis: calc((100% - 30px * 4) / 4);
    }
  }
}

// .masters {
//   background-color: var(--aboutus-background-color);
//   &__menu {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-top: -30px;
//     &_item {
//       background-color: var(--main-background-color);
//       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//         0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//       border-radius: 0px 0px 4px 4px;
//       flex-basis: calc((100% - 120px) / 4);
//       margin-left: 30px;
//       margin-top: 30px;
//     }
//     &_div {
//       padding: 30px;
//     }

//     &_description {
//       font-size: 16px;
//       line-height: 1.19;
//       text-align: center;
//       color: var(--secondary-text-color);
//       margin-bottom: 16px;
//     }
//   }
// }

// @media screen and(min-width: 480px) {
//   .masters-img {
//     text-align: center;
//     width: 450px;
//     height: 460px;
//   }
//   .masters__menu {
//     margin-top: 0px;
//   }
//   // .masters__menu_item {
//   //   width: 96wv;
//   // }
// }
// @media screen and(min-width: 768px) {
//   .masters-img {
//     text-align: center;
//     width: 354px;
//     height: 374px;
//   }
//   .masters__menu {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-top: -30px;
//   }
// }
// @media screen and(min-width: 1200px) {
//   .masters-img {
//     text-align: center;
//     width: 270px;
//     height: 260px;
//   }
//   .masters__menu {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-top: -30px;
//   }
// }
