@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    // flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 767px;
    height: 100%;
    background-color: white;
    overflow: auto;

    position: fixed;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;

    &__container {
      position: relative;
      padding: 40px 0;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      padding: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: #ffffff;
    }
    &__close-btn_icon {
      width: 40px;
      height: 40px;
    }
    &__nav-link {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: #212121;
    }
    &__nav-item {
      padding-bottom: 32px;
    }
  }

  .mobile-menu__nav-item:hover,
  .mobile-menu__nav-item:focus,
  .mobile-menu__nav-link:hover,
  .mobile-menu__nav-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus,
  .mobile-menu__close-btn_icon:hover,
  .mobile-menu__close-btn_icon:focus {
    fill: var(--accent-color);
  }
  .mabile-container_contact {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .mobile-container_contact_item-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-tel {
    margin-bottom: 32px;
  }
  .mobile-container_contact_item-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;
  }
  .mobile-container_contact_social .mobile-container_contact_social-item {
    display: inline;
  }
  .mobile-container_contact_social
    .mobile-container_contact_social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    // transform: rotate(90deg);
    padding-right: 10px;
    margin-right: 10px;
  }
  .mobile-container_contact_social-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-container_contact_social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    width: auto;
  }

  .is-open {
    position: fixed;
    visibility: visible;
    pointer-events: auto;

    z-index: 9999;
  }
}
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
.contact-name {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 12px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.accent {
  color: var(--accent-color);
}
