.social-list {
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    &_icon {
      fill: var(--main-icon-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover &_icon,
    &:focus &_icon {
      fill: var(--main-background-color);
    }
    &_icon {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (min-width: 320px) {
  .social-list {
    justify-content: center;
  }
  .social-list__item {
    margin-right: 10px;
    background-color: var(--footer-link-bg);
    border-radius: 50%;
  }
}
